<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scn.sbrickcontroller"
    android:versionCode="1"
    android:versionName="0.2">

    <!-- Permissions and features -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- Application -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="SBrickController"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Activities -->

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="SBrickController"
            android:launchMode="standard"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SBrickListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="SBrick list"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scn.sbrickcontroller.MainActivity" />
        </activity>
        <activity
            android:name=".SBrickDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="SBrick details"
            android:launchMode="standard"
            android:parentActivityName=".SBrickListActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scn.sbrickcontroller.SBrickListActivity" />
        </activity>
        <activity
            android:name=".ControllerProfileListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Controller profiles"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scn.sbrickcontroller.MainActivity" />
        </activity>
        <activity
            android:name=".EditControllerProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Edit controller profile"
            android:launchMode="singleTop"
            android:parentActivityName=".ControllerProfileListActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scn.sbrickcontroller.ControllerProfileListActivity" />
        </activity>
        <activity
            android:name=".EditControllerActionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Edit controller action"
            android:launchMode="standard"
            android:parentActivityName=".EditControllerProfileActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scn.sbrickcontroller.EditControllerProfileActivity" />
        </activity>
        <activity
            android:name=".ControllerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="SBrick Controller"
            android:launchMode="standard"
            android:parentActivityName=".ControllerProfileListActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scn.sbrickcontroller.ControllerProfileListActivity" />
        </activity>
        <activity
            android:name=".ControllerConfigActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Controller configuration"
            android:launchMode="standard"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scn.sbrickcontroller.MainActivity" />
        </activity>
        <activity
            android:name=".AppPreferencesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="SBrickController settings"
            android:launchMode="standard"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scn.sbrickcontroller.MainActivity" />
        </activity>
    </application>

</manifest>
