<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scn.sbrickcontroller"
    android:versionCode="1"
    android:versionName="0.1">

    <!-- Permissions and features -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!-- Application -->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="SBrickController"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Activities -->

        <activity
            android:name=".MainActivity"
            android:label="SBrickController"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
